.leaflet-attribution-flag {
  display: none !important;
}

* {
  transition-property: background-color, border-color;
  @apply duration-200;
}

input[type="text"], input[type="number"] {
  @apply outline-none;
}

input[type="text"]::placeholder, input[type="number"]::placeholder {
  @apply text-gray-600;
}

input[type="number"]::-webkit-inner-spin-button {
  @apply mr-2;
}

textarea {
  @apply outline-none;
}

label:has(input:focus) {
  @apply bg-gray-200;
}

.active-pin {
  @apply text-red;
  color: red;
}

html button {
  @apply px-2 py-1 hover:bg-gray-200 active:bg-gray-300 text-black;
}
