.leaflet-attribution-flag {
  display: none !important;
}

* {
  transition-property: background-color, border-color;
  @apply duration-200;
}

input[type="text"] {
  @apply outline-none;
}

input[type="text"]::placeholder {
  @apply text-gray-600;
}

label:has(input:focus) {
  @apply bg-gray-200;
}

.active-pin {
  @apply text-red;
  color: red;
}

#app button {
  @apply px-2 py-1 hover:bg-gray-200 active:bg-gray-300;
}